<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- load external files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}" />
    <link rel="stylesheet" href="{% static 'mainApp/css/index.css' %}" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Home</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <body>
    {% include "mainApp/includes/navbar.html" %}
    <!-- prettier-ignore -->
    {% include "mainApp/includes/messages.html" %}

    <div class="container">
      <br />
      {% block content %} {% endblock %}
    </div>
  </body>
  <script src="{% static 'tinymce/js/prism.js' %}"></script>
</html>
